BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TABLE camp_token (
    id SERIAL NOT NULL, 
    token_hash VARCHAR(255) NOT NULL, 
    camp_name VARCHAR(100) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_camp_token_id ON camp_token (id);

CREATE UNIQUE INDEX ix_camp_token_token_hash ON camp_token (token_hash);

CREATE TABLE category (
    id SERIAL NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    description VARCHAR(255), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_category_id ON category (id);

CREATE TABLE sync_log (
    sync_id VARCHAR(36) NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    processed_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    result VARCHAR(50) NOT NULL, 
    PRIMARY KEY (sync_id)
);

CREATE TABLE truck (
    id SERIAL NOT NULL, 
    license_plate VARCHAR(15) NOT NULL, 
    driver_name VARCHAR(100) NOT NULL, 
    registered_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (license_plate)
);

CREATE INDEX ix_truck_id ON truck (id);

CREATE TABLE trip (
    id SERIAL NOT NULL, 
    truck_id INTEGER NOT NULL, 
    origin_camp VARCHAR(50) NOT NULL, 
    destination_camp VARCHAR(50) NOT NULL, 
    dispatched_at TIMESTAMP WITH TIME ZONE, 
    status VARCHAR(20) DEFAULT 'CREATING' NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(truck_id) REFERENCES truck (id)
);

CREATE INDEX ix_trip_id ON trip (id);

CREATE TABLE package (
    id_uuid VARCHAR(36) NOT NULL, 
    trip_id INTEGER, 
    status VARCHAR(25) NOT NULL, 
    packer_name VARCHAR(100), 
    receiver_name VARCHAR(100), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id_uuid), 
    FOREIGN KEY(trip_id) REFERENCES trip (id)
);

CREATE TABLE package_item (
    id SERIAL NOT NULL, 
    package_uuid VARCHAR(36) NOT NULL, 
    category_id INTEGER NOT NULL, 
    quantity INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT chk_quantity CHECK (quantity > 0), 
    FOREIGN KEY(category_id) REFERENCES category (id), 
    FOREIGN KEY(package_uuid) REFERENCES package (id_uuid) ON DELETE CASCADE
);

CREATE INDEX ix_package_item_id ON package_item (id);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

COMMIT;

